{% extends 'base.html' %}

{% block title %}  Create User  {% endblock %}

{% block content %}

<h1 class="display-1">Sign Up</h1>
<p class="lead">Complete the form to register.</p>

<form action="" method = "POST">
    {{form.hidden_tag()}}

    {% for field in form if field.widget.input_type != 'hidden' %}
        
    <div class="form-group row mb-2" >
        {{field.label(class="col-sm-2 col-form-label")}}
        <div class="col-sm-10">
          {{field(class="form-control")}}
        </div>
      </div>

        {% for error in field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {% endfor %}
    
    {% endfor %}

    <button class = "btn btn-success" type="submit">Register</button>

</form>
{% endblock %}